<!-- projects page -->

<!DOCTYPE html>
<html lang="en">
<head>
<style>
  body {
    background-color: FloralWhite;
    font-family: arial;
    text-align: center;
  }
  h1 {
    color: IndianRed;
  }
  h2 {
    color: Black;
    margin: 2px auto;
  }
  div {
    background-color: PowderBlue;
    width: 1000px;
    margin: 10px auto;
    padding: 30px 20px;
  }
</style>
</head>

<body>

<h1>PROJECTS</h1>
<div>
<% projects.forEach((array, arrIdx) => { %>
    <% array.forEach((prj, prjIdx) => { %>
      <h2><%= prj.name %></h2>
      <div style="text-align: center; width: 950px; background-color: white; margin: 10px 5px; padding: 10px 20px">
        <p>XNAT instance: <%= user.xnats[arrIdx].instance %></p>
        <p>Description: <%= prj.description %></p>
        <p>ID: <%= prj.ID %></p>
      </div>
    <% }) %>
<% }) %>
</div>
<p>Return to <a href="/">home</a>.</p>

</body>
