<!-- home page -->

<!DOCTYPE html>
<html lang="en">
<head>

</head>

<p>WELCOME TO THE NCITA FEDERATED XNAT SEARCH TOOL</p>

<form action="/search" method="post">
  <p>Imaging session criteria</p>
    <label for="modalityList">Choose an imaging modality (required):</label>
    <select id="modalityList" name="modality">
      <option disabled selected>Select modality...</option>
      <option value="xnat:ctSessionData" >CT</option>
      <option value="xnat:mrSessionData">MRI</option>
      <option value="xnat:petSessionData">PET</option>
    </select>
    <br><br>
      <label for="startDate">From date:</label>
      <input id="startDate" name="startDate" type="text" placeholder="MM/DD/YYYY"/>
      <label for="stopDate">To date:</label>
      <input id="stopDate" name="stopDate" type="text" placeholder="MM/DD/YYYY"/>
  <p>Subject (patient) criteria</p>
    <label for="genderList">Choose patient gender:</label>
    <select id="genderList" name="gender">
      <option value="U" selected>Any</option>
      <option value="F">Female</option>
      <option value"M">Male</option>
    </select>
    <br><br>
      <label for="minimumAge">Enter minimum age:</label>
      <input id="minimumAge" name="minimumAge" type="text"/>
      <label for="maximumAge">Enter maximum age:</label>
      <input id="maximumAge" name="maximumAge" type="text"/>
    <br><br>
    <button type="reset" value="Reset search">Reset</button>
    <button type="submit" value="Submit search">Submit</button>
</form>
