<!-- search-results page -->

<!DOCTYPE html>
<html lang="en">
<head>

</head>

<h1>SEARCH RESULTS</h1>
<div>
  <p>Modality: <%= results.modality %> </p>
  <p>Gender: <%= results.gender %> </p>
</div>
